@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textPrimary min-h-screen font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #050805;
}
::-webkit-scrollbar-thumb {
  background: #1E3A1E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #39FF14;
}
